
@font-face {
    font-family: "East Sea Dokdo";
    src: url('fonts/EastSeaDokdo-Regular.ttf');
}
@font-face {
    font-family: "Amatic SC";
    src: url('fonts/AmaticSC-Bold.ttf');
}
@font-face {
    font-family: "Kelmscott Roman NF";
    src: url('fonts/KelmscottRomanNF.ttf');
}

a {
    text-decoration: none!important;
    color: #ffffff;
}
a:visited {
    font-family: "Kelmscott Roman NF";
    background-image: url('images/quiet-choice.png');
    font-size: 1.1em;
    color: #ffffff;
    font-style: italic;
    -webkit-text-stroke: 0.015em #000000;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
    padding: 1em;
    border-radius: 15px;
    width: 80%;
    margin-top: 1.5em;
}
a:hover {
    font-family: "Kelmscott Roman NF";
    color: #a44042;
    font-style: italic;
    -webkit-text-stroke: 0.4px #000000;
}

.title {
    font-family: "Kelmscott Roman NF";
    aspect-ratio: 2100/1200;
    align-content: center;
    max-height: 100%;
    max-width: 100%;
}

.title-text {
    max-width: 90%;
    margin: auto;
    font-size: 4em;
    -webkit-text-stroke: 0.05em #000000;
}

.background-princess {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    background-attachment: fixed;
    aspect-ratio: 2100/1200;
    z-index: -5;
    background-position: center top;
}
body {
    font-family: "Verdana";
    color: white;
    font-size: 1.4em;
    -webkit-text-stroke: 0.025em #000000;
    text-align: center;
    margin: auto;
    text-decoration: none;
    paint-order: stroke fill;
}

.background {
    width: 85%;
    border-radius: 20px;
    background-image: url('images/quiet.png');
    background-attachment: fixed;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    background-position: center
}

.text {
    width: 88%;
    margin: auto;
}

.name {
    font-size: 1.05em;
    padding-bottom: 0.1em;  
    font-weight: bold;    
}
.princess-darkpink {
    font-family: "East Sea Dokdo";
    color: #f23f45;
    font-size: 1.8em;
    -webkit-text-stroke: 0.01em #a12628;
    margin: auto;
}
.princess-lightpink {
    font-family: "Amatic SC";
    font-weight: bold;
    color: #fbdae3;
    -webkit-text-stroke: 0.3px #854048;
}
.long-quiet {
    font-family: "East Sea Dokdo";
    color: #ffffff;
    font-size: 2em;
    -webkit-text-stroke: 0.015em #000000;
}

.choice {
    font-family: "Kelmscott Roman NF";
    background-image: url('images/quiet-choice.png');
    font-size: 1.1em;
    color: #ffffff;
    font-style: italic;
    -webkit-text-stroke: 0.015em #000000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: left;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1.2em;
    width: 80%; 
    margin-top: 1.5em;
}
.cant-pick {
    color: rgb(89, 84, 84);
}
.choice.single {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    padding-left: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.choice.multiple-wrap {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 80% 20%;
}
.multiple-text {
    width: 88%;
    margin: auto;
    font-size: 0.9em;
    font-style: normal;
    font-family: "Verdana";
    color: white;
    -webkit-text-stroke: 0.025em #000000;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1em;
}

button {
    background: none;
    border: none;
}

.multiple-title {
    padding-left: 1.2em;
}

button.option {
    font-family: "Kelmscott Roman NF";
    background: none;
    font-size: 1em;
    text-align: right;
    padding-right: 1em;
    font-style: normal;
    color: #c7bfbf;
    -webkit-text-stroke: 0.015em #000000;
    margin-top: 0em;
}

button.note {
    font-family: "Kelmscott Roman NF";
    background: none;
    font-size: 1.1em;
    text-align: right;
    padding-right: 1em;
    font-style: normal;
    -webkit-text-stroke: 0.025em rgb(87, 69, 69);
    margin-top: 0em;
}

.note {
    text-align: left;
    font-size: 1.1em;
    color: rgb(192, 165, 165);
    -webkit-text-stroke: 0.025em rgb(87, 69, 69);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: "Kelmscott Roman NF";
    font-style: italic;
    padding-left: 1.2em;
}

.note_wrap {
    background-image: url('images/quiet-note.png');
    background-size: cover;
    background-attachment: fixed;
    border-left-width: 2px;
    border-color: rgb(192, 165, 165);
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-radius: 15px;
    margin-top: 1.5em;
}

.note-text {
    margin-top: 1em;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 88%;
}

hr {
    border: none;
    background-color: rgb(71, 64, 64);
    height: 2px;
}

@media only screen and (orientation: portrait) {
    body {
        font-size: 1.3em;
    }
    .background-princess {
        max-width: 100%;
        background-size: contain;
    }
    .background {
        width: 100%;
        margin-left: 0px;
        border-radius: 0;
    }
    .choice {
        width: 100%;
    }
    .title-text {
        font-size: 230%;
    }
}
